<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div id="secrets" class="mt-5">
  <!-- <i class="fas fa-key"></i> -->
  <h1 class="display-5 text-center mb-5">Secrets/Confessions</h1>
<div class="jumbotron ms-5">
    
    <div class="container">
      
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">
    <% usersWithSecrets.forEach(function(user){ %>
      <% user.secrets.forEach(function(secret){ %>
          <div class="col">
            <div class="card h-100 mx-2">
              <div class="card-body">
                <p class="card-text"><%= secret %></p>
              </div>
            </div>
          </div>
     <% }) %>
    <%});%>
  </div>
    <hr />
    <h3 class="text-center">Admit your wrongdoings => <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Submit Your Secret</a
    ></h3>
    
  </div>
    <!-- <p class="secret-text">Jack Bauer is my hero.</p> -->
    
</div>
</div>

<%- include('partials/footer') %>
