<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div id="submit">
<div class="row row-lg-cols-2 container justify-content-center">
    <div class="col-lg-3 pt-5"></div>
    <div class="submit col-lg-4 bg-dark pt-5">
    <p class="secret-text text-start">🗣Say out loud!</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <textarea type="text" class="secret form-control text-center" rows="5" name="secret" placeholder="What's your secret?" maxlength="300" required></textarea>
        <span id='remainingC' style="color: aliceblue;"></span>
      </div>
      <div class="text-end">
      <button type="submit" class="btn"><img src="images/send.png" alt="Send"></button>
    </div>
    </form>
  </div>

  </div>
</div>
<script>
  $('textarea').keypress(function(){

if(this.value.length > 300){
    return false;
}

$("#remainingC").html("Remaining characters : " + (300 - this.value.length));
});
</script>
<%- include('partials/footer') %>