body {
  background-color: #f0f0f0;
}

hr {
  width: 85%;
}

.social-icon {
  padding: 0;
}

.heading {
  font-family: 'Otomanopee One', sans-serif;
}

.navbar .navbar-brand{
  font-size: 2rem;
  color: #fff;
}

.navbar .navbar-nav a{
  font-size: 1.3rem;
  color: #fff !important;
}

.navbar-toggler-icon{
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

a:hover{
  opacity: 0.7;
}

.google a{
  color: red;
}

#home .intro {
  padding-top: 6rem;
}

#home .login {
  border: 1px solid #000;
}

#home .fa {
  font-size: 3.3rem;
}

#home .login input {
  width: 80%;
}

#home .login .btn{
  width: 80%;
}

#home h3 {
  font-size: 2.4rem;
}

#home span {
  font-size: 0.7rem;
}

#home img {
  width: 50rem;
}

#register .fa {
  font-size: 3.3rem;
}

#register .register {
  border: 1px solid #000;
}

#register .register input {
  width: 80%;
}

#register h4{
  font-family: 'Noto Sans', sans-serif;
}

#register .btn{
  width: 100%;
}

#submit .submit{
  border-radius: 5%;
  margin-top: 5rem;
}

#submit p{
  font-family: 'Chelsea Market', cursive;
}

#submit .btn{
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: red;
  padding-left: 2rem;
  padding-right: 2rem;
}

#submit .btn:hover{
  opacity: 0.8;
}

#submit img{
  width: 2rem;
}

#footer{
  position: fixed;
  bottom: 0;
  background-color: black;
  color: #fff;
  width: 100%;
}

.secret-text {
  font-size: 2rem;
  color: #fff;
}

@media (max-width: 990px) {
  .navbar .navbar-brand{
    font-size: 5rem;
  }

  .navbar .navbar-nav a{
    font-size: 3rem;
  }

  #home h3 {
    font-size: 4rem;
    margin-top: 10rem;
  }

  #home span {
    font-size: 1.5rem;
  }

  .heading {
    font-size: 5.5rem;
  }

  #register .fa, #home .fa {
    font-size: 5.5rem;
    padding-bottom: 1rem;
  }

  #home input, #register input{
    height: 4rem;
    margin-top: 1rem !important; 
    margin-bottom: 1rem !important;
  }

  #home input,
  input::-webkit-input-placeholder {
      font-size: 1.6rem;
      line-height: 3;
  }

  #home .btn, #register .btn{
    height: 4rem;
    font-size: 1.6rem;
  }

  #home .fab{
    font-size: 1.8rem;
    margin-top: 4%;
  }

  #home a, #register a{
    font-size: 1.8rem;
  }

  #home p{
    font-size: 1.8rem;
  }

  #register{
    padding-top: 18rem;
  }

  #register h4{
    font-size: 3rem;
  }

  #register label{
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
  }

  #submit .submit{
    margin-top: 14rem;
    margin-bottom: 15%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 35%;
  }

  #submit .secret-text{
    font-size: 4rem;
  }

  #submit textarea{
    height: 12rem;
  }

  #submit textarea,
  textarea::-webkit-textarea-placeholder {
      font-size: 1.6rem;
      line-height: 3;
  }

    #submit img{
      width: 3rem;
    }

  #footer{
    font-size: 2rem;
  }
}